@tailwind base;
@tailwind components;
@tailwind utilities;

.blinking {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    color: red;
  }
  49% {
    color: red;
  }
  60% {
    color: rgb(255, 255, 255); /* Semi-transparent red */
  }
  99% {
    color: rgb(255, 255, 255); /* Semi-transparent red */
  }
  100% {
    color: red;
  }
}
